%p
  Join the Rails Girls Melbourne mailing list here.

%form{ action: "http://rubyaustralia.createsend.com/t/j/s/qtheu/", method: "post", id: "subForm" }
  %p
    %label{ for: "fieldName" }
      Name
    %br
      %input{ id: "fieldName", name: "cm-name", type: "text" }
  %p
    %label{ for: "fieldEmail" }
      Email
    %br
    %input{ id: "fieldEmail", name: "cm-qtheu-qtheu", type: "email", required: "required" }
  %button{ type: "submit" }
    Subscribe
