%section
  %h3 Canberra

  %article
    %h4 Next Meetup
    %p 2nd Feb 2016 (Last Tuesday of Jan is Australia Day)
    %p Presentations:
    %ul
      %li Ruby Talks (TBD)
      %li Rails Camp Canberra Redux (things learned, fun had, etc.)
      %li Open Floor, anyone and anything
    %p Please contact <a href="http://twitter.com/ryapauley">Ryan Pauley</a> if you would like to volunteer to give a talk.

  %article
    %h4 Organisers
    %p Ryan Pauley (<a href="http://twitter.com/ryapauley">@ryapauley</a>), Mary Anne Cosgrove (<a href="#" title="more of a facebook person.">MAC</a>), and Hugh Evans (<a href="http://twitter.com/hughevans" title="the legendary... ">@hughevans</a>).

  %article
    %h4 Schedule
    %p Canberra Ruby Meets up on the fourth Tuesday of every second month. Meetings usually start at around 6pm, at CBR Innovation Network.
    %p Location: Level 5, 1 Moore St. Canberra, ACT 2601.
    %p For more information about Canberra Ruby meetups, visit <a href="http://www.meetup.com/canberra-ruby/">The Canberra Ruby Meetup Page</a>.
