%section
  %h3 Perth

  %article
    %h4 Ruby on Rails Oceania - Perth
    %p Second Wednesday of each month, at <a href="http://synclabs.com.au/">Sync Labs</a> in Leederville.
    %p We're an informal group and we welcome people of all skill levels, from all walks of life.
    %p For more information about RORO Perth, visit <a href="http://www.perthrubyonrails.com.au/">Perth Ruby on Rails</a>.
